#movie-result {
  background: rgb(0, 140, 69);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(205, 33, 42);
  border: 5px solid black;
  font-size: 24px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}
